<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="./index.css"/>
        <title>Sign up - View</title>
    </head>
    <body>
        <main>
            <div id="logo">
                View
            </div>
            <div id="logOps">
                <p id="no"></p>
                <input id="username" type="search" placeholder="Username"/>
                <input id="password" type="search" placeholder="Password"/>
                <input id="passwordConfirm" type="search" placeholder="Confirm password"/>
                <button>Sign up</button>
            </div>
        </main>
        <script src="./index.js"></script>
    </body>
</html>