<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Timeline</title>
        <link rel="stylesheet" href="./index.css"/>
    </head>
    <body>
        <header>
            View
            <div id="userName"></div>
            <button id="out">Log out</button>
        </header>
        <main>
            <div id="first" class="videoContainer">
                <div class="adContainer" id="1"></div>
                <video id="video1" src="../assets/taylor.mp4"></video>
                <h1 id="firstTitle">Taylor Swift - Blank Space</h1>
                <button class="playerController" id="play1">Play/Pause</button>
                <button class="playerController" id="mute1">Mute</button>
            </div>
            <div id="second" class="videoContainer">
                <div class="adContainer" id="2"></div>
                <video id="video2" src="../assets/taylor1.mp4"></video>
                <h1 id="secondTitle">Taylor Swift - You Belong With Me</h1>
                <button class="playerController" id="play2">Play/Pause</button>
                <button class="playerController" id="mute2">Mute</button>
            </div>
            <div id="third" class="videoContainer">
                <div class="adContainer" id="3"></div>
                <video id="video3" src="../assets/angela.mp4"></video>
                <h1 id="thirdTitle">Ángela Aguilar - No Me Queda Más</h1>
                <button class="playerController" id="play3">Play/Pause</button>
                <button class="playerController" id="mute3">Mute</button>
            </div>
        </main>
        <script type="module" src="./index.js"></script>
    </body>
</html>