<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="./index.css"/>
        <title>View</title>
    </head>
    <body>
        <main>
            <div id="logo">
                View
            </div>
            <div id="logOps">
                <div id="sI">
                    Sign in
                </div> 
                <p id="no"></p>
                <div id="signIn">
                    <input id="username" type="search" placeholder="Username"/>
                    <input id="password" type="search" placeholder="Password"/>
                    <button id="in">Log In</button>
                </div>
                <div class="text">You don't have an account?</div> 
                <button id="up">Sign Up</button>
            </div>
        </main>
        <script type="module" src="./main.js"></script>
    </body>
</html>